@font-face {
    font-family: "Garet";
    src: url(/fonts/garet/Garet-Book.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Garet-Heavy";
    src: url(/fonts/garet/Garet-Heavy.ttf);
    font-weight: bolder;
    font-style: normal;
}